name: Publish Container Image

on:
  push:
    branches:
      - main

env:
  REGISTRY_USER: ${{ github.actor }}
  REGISTRY_PASSWORD: ${{ github.token }}
  IMAGE_REGISTRY: ghcr.io/${{ github.repository_owner }}

jobs:
  login:
    name: Build and Push
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Build and Push Image
        run: |
          podman login --username $REGISTRY_USER --password $REGISTRY_PASSWORD ghcr.io
          podman build -t $IMAGE_REGISTRY/portfolio:${{github.sha}} -f Dockerfile .
          podman push $IMAGE_REGISTRY/portfolio:${{github.sha}}
          podman tag $IMAGE_REGISTRY/portfolio:${{github.sha}} $IMAGE_REGISTRY/portfolio:latest
          podman push $IMAGE_REGISTRY/portfolio:latest